html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, #root {
  background-color: #000524;
  background-image: linear-gradient(to bottom, transparent, black);
}

.full-height {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-white {
  color: white;
}
